.sc-view.aboutBox {
  background-color: white;
  margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
  overflow: auto;
	width: 100%;
	height: 100%;
}

.aboutBox * h2 {
  font-size: 2.5em;
  font-weight: bold;
}
.aboutBox * h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.aboutBox  table {
	margin-top: 30px;
	padding: 20px;
	margin-bottom: 0px;
}

.aboutBox * td {
  padding: 10px;
  border: none;
  background-color: white;
	vertical-align: top;
}
