.sc-view.aboutBox {
  background-color: white;
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
  overflow: auto;
}
.aboutBox * h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.aboutBox * h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.aboutBox  table {
  margin: 0px;
  margin-top: 30px;
  padding: 15px;
}

.aboutBox * td {
  padding: 8px;
  border: none;
  background-color: white;
  vertical-align: top;
}
